
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="shortcut icon" href="images/faviconhtg.ico" type="image/vnd.microsoft.icon">
    <title>Jobs</title>

    <!-- Bootstrap core CSS -->
	
<link rel="stylesheet" href="css/owl.carousel.css" />

<link rel="stylesheet" href="css/owl.theme.css" />
	
	
	
	
	
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
	
	<link href="css/style.css" rel="stylesheet">
	
	<link href="css/font-awesome.css" rel="stylesheet">
	<link href="css/font-awesome.min.css" rel="stylesheet">
	

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/navbar-static-top.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
<div class="wrapper">
	
		<div class="top-head">
			<div class="container">
					<div class="row">		
								<div class="col-md-8 pull-left">
									<div class="need-help">
										<p>Need help call us at<span>  (216) 514-8400 </span>    or   Email us at<span> <a href="mailto:info@hiretechgroup.com">info@hiretechgroup.com</a></span></p>
									</div>
								</div>
								
								
								
								<div class="col-md-4 pull-right ">
									<div class="fab-icon">
										<a href="http://www.facebook.com/HireTechGroup"><i class="fa fa-facebook" aria-hidden="true"></i></a>
										<a href="http://www.twitter.com/hiretechgroup"><i class="fa fa-twitter" aria-hidden="true"></i></a>
										<!--a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a-->
										<a href="http://www.linkedin.com/groups?gid=5157899&mostPopular=&trk=tyah&trkInfo=tarId%3A1409756924149%2Ctas%3Ahiretech%2Cidx%3A1-1-1"><i class="fa fa-linkedin" aria-hidden="true"></i></a>

									</div>
									
									<div class="register-login">
										<ul>
											<li><a href="#">Submit Resumes</a></li>	
										</ul>
									</div>
												<div class="clear-fixed"></div>
								
								</div>
								
								<div class="clear-fixed"></div>
					</div>			
			</div>					
		</div><!--------------------end-of----------top-head---------------------------->
		
		
		
		 <!-- Fixed navbar -->
		 
			<!-- Static navbar -->
							<nav class="navbar navbar-default navbar-static-top">
						  <div class="container">
							<div class="navbar-header">
							  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							  </button>
							  <a class="navbar-brand pull-right" href="index.html"><!--img class="ht-logo" src="images/logo.png" />--> HireTech<span class="last-word"> Group</span></a>
							</div>
							<div id="navbar" class="navbar-collapse collapse navbar-right  ">
							  <ul class="nav navbar-nav">
								<li><a href="job-seekers.html">Job Seekers</a></li>
								<li><a href="clients.html">Clients</a></li>
								<li><a href="about-us.html">About Us</a></li>
										
										 <button type="button" class="btn btn-primary btn-xs"><a href="contact-us.html">Contact Us</a></button>
										
								
							  </ul>
							  
							</div><!--/.nav-collapse -->
						  </div>
						</nav>
						

								
								
								<div class="we-creat-text">
										<div class="container">
											<div class="row">
											
												<ol class="breadcrumb">
												  <li><a href="#">Home</a></li>
												  <li class="active">Job Seekers</li>
												</ol>

												<div class="medical-heading">
													<h1>Available Positions
													</h1>
													<p></p>
													
												</div>
											</div>
										</div>
								</div>
						
						
						<div class="employee">
							<div class="container">
								<div class="content main-container container no-padding">
				<div class="view view-jobs view-id-jobs view-display-id-page view-dom-id-6dfc1d102df34933269a73d97eef3642">



					<div class="view-content">
						<table class="views-table cols-4 table">
							<thead>
								<tr>
									<th class="views-field views-field-title" scope="col">
										Title</th>
									<th class="views-field views-field-field-location" scope="col">
										Location</th>
									<th class="views-field views-field-field-position-type" scope="col">Position Type</th>
									<th class="views-field views-field-created" scope="col">
										Post date</th>
								</tr>
							</thead>
							<tbody>
								<!-- ngRepeat: jobPosting in jobPostings | orderBy:'lastUpdatedOn':'reverse'|itemsPerPage: 10 --><tr ng-repeat="jobPosting in jobPostings | orderBy:'lastUpdatedOn':'reverse'|itemsPerPage: 10" class="ng-scope">
									<td class="views-field views-field-title"><a href="/#/job-posting/devops-system-administrator" class="ng-binding">DevOps System Administrator</a></td>
									<td class="views-field views-field-field-location ng-binding">
										West Side Cleveland</td>
									<td class="views-field views-field-field-position-type ng-binding">
										Contract</td>
									<td class="views-field views-field-created ng-binding">04/18/2016</td>
								</tr><!-- end ngRepeat: jobPosting in jobPostings | orderBy:'lastUpdatedOn':'reverse'|itemsPerPage: 10 --><tr ng-repeat="jobPosting in jobPostings | orderBy:'lastUpdatedOn':'reverse'|itemsPerPage: 10" class="ng-scope">
									<td class="views-field views-field-title"><a href="/#/job-posting/sr-pm" class="ng-binding">Sr. PM</a></td>
									<td class="views-field views-field-field-location ng-binding">
										East Side Cleveland</td>
									<td class="views-field views-field-field-position-type ng-binding">
										Permanent</td>
									<td class="views-field views-field-created ng-binding">04/18/2016</td>
								</tr><!-- end ngRepeat: jobPosting in jobPostings | orderBy:'lastUpdatedOn':'reverse'|itemsPerPage: 10 --><tr ng-repeat="jobPosting in jobPostings | orderBy:'lastUpdatedOn':'reverse'|itemsPerPage: 10" class="ng-scope">
									<td class="views-field views-field-title"><a href="/#/job-posting/qa-test-engineer" class="ng-binding">QA Test Engineer</a></td>
									<td class="views-field views-field-field-location ng-binding">
										Cleveland, OH</td>
									<td class="views-field views-field-field-position-type ng-binding">
										Contract</td>
									<td class="views-field views-field-created ng-binding">04/18/2016</td>
								</tr><!-- end ngRepeat: jobPosting in jobPostings | orderBy:'lastUpdatedOn':'reverse'|itemsPerPage: 10 --><tr ng-repeat="jobPosting in jobPostings | orderBy:'lastUpdatedOn':'reverse'|itemsPerPage: 10" class="ng-scope">
									<td class="views-field views-field-title"><a href="/#/job-posting/sr-mobile-developer" class="ng-binding">Sr. Mobile Developer</a></td>
									<td class="views-field views-field-field-location ng-binding">
										Cleveland, OH</td>
									<td class="views-field views-field-field-position-type ng-binding">
										Permanent</td>
									<td class="views-field views-field-created ng-binding">04/18/2016</td>
								</tr><!-- end ngRepeat: jobPosting in jobPostings | orderBy:'lastUpdatedOn':'reverse'|itemsPerPage: 10 --><tr ng-repeat="jobPosting in jobPostings | orderBy:'lastUpdatedOn':'reverse'|itemsPerPage: 10" class="ng-scope">
									<td class="views-field views-field-title"><a href="/#/job-posting/sr-front-end-developer" class="ng-binding">Sr. Front-End Developer</a></td>
									<td class="views-field views-field-field-location ng-binding">
										Cleveland, OH</td>
									<td class="views-field views-field-field-position-type ng-binding">
										Permanent</td>
									<td class="views-field views-field-created ng-binding">04/18/2016</td>
								</tr><!-- end ngRepeat: jobPosting in jobPostings | orderBy:'lastUpdatedOn':'reverse'|itemsPerPage: 10 --><tr ng-repeat="jobPosting in jobPostings | orderBy:'lastUpdatedOn':'reverse'|itemsPerPage: 10" class="ng-scope">
									<td class="views-field views-field-title"><a href="/#/job-posting/systems-administrator" class="ng-binding">Systems Administrator</a></td>
									<td class="views-field views-field-field-location ng-binding">
										Cleveland, OH</td>
									<td class="views-field views-field-field-position-type ng-binding">
										Contract to Hire</td>
									<td class="views-field views-field-created ng-binding">04/18/2016</td>
								</tr><!-- end ngRepeat: jobPosting in jobPostings | orderBy:'lastUpdatedOn':'reverse'|itemsPerPage: 10 --><tr ng-repeat="jobPosting in jobPostings | orderBy:'lastUpdatedOn':'reverse'|itemsPerPage: 10" class="ng-scope">
									<td class="views-field views-field-title"><a href="/#/job-posting/help-desk-support-specialist" class="ng-binding">Help Desk Support Specialist</a></td>
									<td class="views-field views-field-field-location ng-binding">
										Cleveland, OH</td>
									<td class="views-field views-field-field-position-type ng-binding">
										Contract to Hire</td>
									<td class="views-field views-field-created ng-binding">04/18/2016</td>
								</tr><!-- end ngRepeat: jobPosting in jobPostings | orderBy:'lastUpdatedOn':'reverse'|itemsPerPage: 10 --><tr ng-repeat="jobPosting in jobPostings | orderBy:'lastUpdatedOn':'reverse'|itemsPerPage: 10" class="ng-scope">
									<td class="views-field views-field-title"><a href="/#/job-posting/sr-web-developer" class="ng-binding">Sr. Web Developer</a></td>
									<td class="views-field views-field-field-location ng-binding">
										East Side Cleveland</td>
									<td class="views-field views-field-field-position-type ng-binding">
										Permanent</td>
									<td class="views-field views-field-created ng-binding">04/18/2016</td>
								</tr><!-- end ngRepeat: jobPosting in jobPostings | orderBy:'lastUpdatedOn':'reverse'|itemsPerPage: 10 --><tr ng-repeat="jobPosting in jobPostings | orderBy:'lastUpdatedOn':'reverse'|itemsPerPage: 10" class="ng-scope">
									<td class="views-field views-field-title"><a href="/#/job-posting/web-developer" class="ng-binding">Web Developer</a></td>
									<td class="views-field views-field-field-location ng-binding">
										East Side Cleveland</td>
									<td class="views-field views-field-field-position-type ng-binding">
										Permanent</td>
									<td class="views-field views-field-created ng-binding">04/18/2016</td>
								</tr><!-- end ngRepeat: jobPosting in jobPostings | orderBy:'lastUpdatedOn':'reverse'|itemsPerPage: 10 --><tr ng-repeat="jobPosting in jobPostings | orderBy:'lastUpdatedOn':'reverse'|itemsPerPage: 10" class="ng-scope">
									<td class="views-field views-field-title"><a href="/#/job-posting/sr-java-developer" class="ng-binding">Sr. Java Developer</a></td>
									<td class="views-field views-field-field-location ng-binding">
										West Side Cleveland</td>
									<td class="views-field views-field-field-position-type ng-binding">
										Contract</td>
									<td class="views-field views-field-created ng-binding">04/18/2016</td>
								</tr><!-- end ngRepeat: jobPosting in jobPostings | orderBy:'lastUpdatedOn':'reverse'|itemsPerPage: 10 -->
							</tbody>
						</table>
					</div>
					<div class="text-center ng-isolate-scope" data-dir-pagination-controls=""><!-- ngIf: 1 < pages.length || !autoHide --><ul class="pagination no-margin ng-scope" data-ng-if="1 < pages.length || !autoHide">
    <!-- ngIf: boundaryLinks -->
    <!-- ngIf: directionLinks --><li data-ng-if="directionLinks" data-ng-class="{ disabled : pagination.current == 1 }" class="ng-scope disabled">
        <a href="" data-ng-click="setCurrent(pagination.current - 1)">‹</a>
    </li><!-- end ngIf: directionLinks -->
    <!-- ngRepeat: pageNumber in pages track by tracker(pageNumber, $index) --><li data-ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)" data-ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }" class="ng-scope active">
        <a href="" data-ng-click="setCurrent(pageNumber)" class="ng-binding">1</a>
    </li><!-- end ngRepeat: pageNumber in pages track by tracker(pageNumber, $index) --><li data-ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)" data-ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }" class="ng-scope">
        <a href="" data-ng-click="setCurrent(pageNumber)" class="ng-binding">2</a>
    </li><!-- end ngRepeat: pageNumber in pages track by tracker(pageNumber, $index) --><li data-ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)" data-ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }" class="ng-scope">
        <a href="" data-ng-click="setCurrent(pageNumber)" class="ng-binding">3</a>
    </li><!-- end ngRepeat: pageNumber in pages track by tracker(pageNumber, $index) -->

    <!-- ngIf: directionLinks --><li data-ng-if="directionLinks" data-ng-class="{ disabled : pagination.current == pagination.last }" class="ng-scope">
        <a href="" data-ng-click="setCurrent(pagination.current + 1)">›</a>
    </li><!-- end ngIf: directionLinks -->
    <!-- ngIf: boundaryLinks -->
</ul><!-- end ngIf: 1 < pages.length || !autoHide --></div>
				</div>
			</div>
			</div>
						
						
						
						
						
						
						
						
						
						
						
						
						
		
		
			
			
			
			
			<div class="botom-container">
				<div class="container">
					<div class="row">
							<div class="col-md-6 col-sm-6">		
									<div class="Quick-form">
										<h1>Quick Enquiry</h1>
										<p>Please fill this for your queries</P>
									</div>
									
										<div class="form-box">
													<div class="form-group">
																									
																									<div class="col-md-10">
																									  <input type="text" class="form-control" id="inputEmail3" placeholder="Name">
																									</div>
																								  </div>
																								  <div class="form-group">
																									
																									<div class="col-sm-10">
																									
																									
																									  <input type="email" class="form-control" id="inputPassword3" placeholder="Email">
																									</div>
																								  </div>
																								  
																								
																								  
																								  
																								   <div class="form-group">
																									
																									<div class="col-sm-10">
																									
																									
																									  <textarea class="form-control msg" placeholder="Message"></textarea>
																									</div>
																								  </div>
																								  
																								  <div class="form-group">
																									<div class="col-sm-10">
																									  <button type="submit" class="enter ">SUBMIT</button>
																									</div>
																								  </div>
																								  
																								  
										
										</div>
									
									
									
									
							</div>	

													<div class="col-md-6 col-sm-6 col-xs-12">	
														<div class="contact-part">
															<h1>Contact Us</h1>
															<p>HireTech Group</p>
															<div class="fab-addres">
																<p><i class="fa fa-home" aria-hidden="true"></i> 5180 Richmond Rd, Bedford Heights, OH 44146</p>
																<p><i class="fa fa-phone" aria-hidden="true"></i> (216) 514-8400 </p>
																<p> <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a> info@hiretechgroup.com</p>
															</div>
														</div>
													
													</div>		



							
					</div>
				</div>
			
			</div><!-------------------------------------end-------->
			
			
			
			<div class="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-3">
							<div class="product">
								<h1>Go Deepers</h1>
								<p><a href="#">Clients</a></p>
								<p><a href="#">Job Seekers</a></p>
							
							</div>
						</div>
						
						
						<div class="col-md-3 col-sm-3">
							<div class="product">
								<h1>Hire Tech Groups</h1>
								<p><a href="about-us.html">About Us</a></p>
								<p><a href="#">Contact Us</a></p>
							
							</div>
						</div>
						
						
						<div class="col-md-3 col-sm-3">
							<div class="product">
								
							
							</div>
						</div>
						
						<div class="col-md-3 col-sm-3">
							<div class="follow-us">
							<h1>Connect with Us</h1>
							<a href="http://www.facebook.com/HireTechGroup"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							<a href="http://www.twitter.com/hiretechgroup"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							<a href="http://www.linkedin.com/groups?gid=5157899&mostPopular=&trk=tyah&trkInfo=tarId%3A1409756924149%2Ctas%3Ahiretech%2Cidx%3A1-1-1"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
							</div>
						</div>
						
						
					
					</div>
					<div class="row">
					<div class="container">
					<hr>
					<p>HireTech Group is an Equal Opportunity Employer AA (M/F/Vet/D)
Copyrights © HireTech Group. All rights reserved.
Website built to specification with creative input and implementation by Outfast Source</p></div>
</div>
				</div>
			
			</div>
		
		
		
	



















</div><!----------------wrapper-end---------------------->
   
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	

	  
   
  

	
	
	
	
    <script src="js/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
	 <script src="js/owl.carousel.js"></script>
     <script src="js/jquery-migrate-1.2.1.min.js"></script>
        <script>
        
        $(document).ready(function() {
  $("#owl").owlCarousel({
    navigation: false,
    slideSpeed: 100,
    paginationSpeed: 800,
    singleItem: true,
    autoPlay: true
  });
});
        </script>
	
	
  </body>
</html>
